/* =================================================================== */


/* 
/*  Puremedia v1.0 Main Stylesheet
/*  url:styleshout.com
/*  10-10-2014
/*
/*  ------------------------------------------------------------------ 
/* =================================================================== */


/* 
/* a. Webfonts and Iconfonts
/* =================================================================== */

@import url("../vendor/fonts.css");

/*@import url("../vendor/font-awesome/css/font-awesome.min.css");*/


/* 
/* b. Document Setup
/* =================================================================== */


/* Body
---------------------------------------------------------------------- */

body {
    font: 15px/30px "raleway-regular", sans-serif;
    font-weight: 300;
    color: dimgrey;
}


/* Typography
--------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "raleway-regular", sans-serif;
    color: #252525;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 18px 0 15px;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    letter-spacing: -1px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-size: 17px;
    line-height: 30px;
}

h5 {
    font-size: 14px;
    line-height: 30px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h6 {
    font-size: 13px;
    line-height: 30px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 15px 0 15px 0;
}

hr {
    border: solid white;
    border-width: 1px 0 0;
    clear: both;
    margin: 23px 0 12px;
    height: 0;
}


/***LOADER**/

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 48%;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(134, 38, 155);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1AFD3;
    z-index: 999999;
}


/*****NAVIGATION BAR****/


/**custom is collapsed in small screen**/

.navbar-custom {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "raleway-regular", sans-serif;
    font-weight: initial;
    background-color: black;
    width: 100%;
    padding: 0;
    font-size: 18px;
}

.navbar-custom .navbar-toggle {
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 100px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: none;
    font-weight: 100px;
}


/*My name in navigationbar*/

.navbar-custom .navbar-brand {
    font-size: 18px;
    font-family: "raleway-regular", sans-serif;
    font-weight: initial;
    color: whitesmoke
}

.navbar-custom .navbar-brand:focus {
    outline: none;
}

.navbar-custom a {
    color: whitesmoke;
}

.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}


/**nav bar hover**/

.navbar-custom .nav li a:hover {
    color: #D1AFD3;
    /** color: rgba(255, 255, 255, 0.8);*/
    outline: none;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
    color: #D1AFD3;
}

.navbar-custom .nav li.active {
    outline: none;
    color: #D1AFD3;
}

.navbar-custom .nav li.active a {
    background-color: transparent;
    color: #D1AFD3;
}

.navbar-custom .nav li.active a:hover {
    color: #D1AFD3;
}


/* 
/* e. Buttons
/* =================================================================== */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    font: 15px/30px "raleway", sans-serif;
    padding: 9px 16px;
    margin: 0 3px 6px 0;
    background: rgb(134, 38, 155);
    /*rgb(241,163,28);*/
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: auto;
    text-align: center;
    border: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background: rgb(116, 11, 109);
    color: white;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* 
/* j. Common and shared styles
/* =================================================================== */

hr {
    border: solid rgb(134, 38, 155);
    border-width: 3px 0 0;
    width: 90px;
    margin: 11px auto 15px;
    height: 0;
    clear: both;
    text-align: center;
}


/* section head
---------------------------------------------------------------------- */

.section-head {
    text-align: center;
}

.section-head h1 {
    font: 15px/24px "raleway-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #252525;
    margin-bottom: 18px;
}

.section-head h1 span {
    color: rgb(134, 38, 155);
    /**#3b5998;**/
    width: 50%;
}

.section-head p {
    font: 18px/36px "raleway-light", sans-serif;
    width: 95%;
    color: #707273;
    margin-left: auto;
    margin-right: auto;
}


/* 
/* Home Section
/* =================================================================== */

.intro .intro-body .brand-heading {
    font-family: "raleway-regular", sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: whitesmoke;
    text-rendering: optimizeLegibility;
}

.intro .intro-body .intro-text {
    font-size: 20px;
    color: whitesmoke;
    font-family: "raleway-regular", sans-serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

#home {
    background: #D1AFD3 url(../images/homeback.png) no-repeat center center fixed;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background-attachment: scroll;
    padding-top: 18vh;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    text-align: center;
    position: relative;
}

.ie8 #home {
    background: #D1AFD3;
}

.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    border: none;
    border-radius: 100% !important;
    font-size: 30px;
    font-weight: 100px;
    color: white;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: white;
    background: transparent;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


/* 
/* l. projects Section
/* =================================================================== */

#projects {
    background: white;
    padding-top: 120px;
    width: 100%;
}

.ie #projects .row.items {
    width: 1140px;
}

#projects .row.items {
    max-width: 1200px;
}


/* projects wrapper */

#projects-wrapper {
    margin-top: 36px;
}


/* projects items */

.item .item-wrap {
    overflow: hidden;
    position: relative;
}

.item .item-wrap a {
    display: block;
    cursor: pointer;
}

.item .item-wrap .overlay {
    background: #111;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0;
    zoom: 1;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.item .item-wrap img {
    vertical-align: bottom;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item .item-wrap .projects-item-meta {
    position: absolute;
    top: 10%;
    left: 10%;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    zoom: 1;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.item .item-wrap .projects-item-meta h5 {
    font: 15px/21px "raleway-heavy", sans-serif;
    margin: 0;
    color: white;
    word-wrap: break-word;
}

.item .item-wrap .projects-item-meta p {
    font: 14px/18px "raleway-semibold", sans-serif;
    color: #fbcab3;
    margin: 0;
}


/* on item hover */

.item:hover .overlay {
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: .8;
    zoom: 1;
}

.item:hover .item-wrap .overlay .projects-item-meta {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    zoom: 1;
}

.item:hover .item-wrap img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* 
/*  m. experience Section
/* =================================================================== */

#experience {
    background: #ecf0f1;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    width: 100%;
}

.service-list {
    margin: 15px -22px 0 -22px;
}

.service-list .bgrid {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 22px;
}

.service-list h3 {
    font: 16px/24px "raleway-heavy", sans-serif;
    padding: 0;
}

.service-list p {
    color: #707273;
    position: relative;
    font-family: "raleway-medium";
    top: -6px;
}

.work-logo img {
    border-radius: 25px;
    width: 100px;
    height: 100px;
}


/* 
/*  n. About Section
/* =================================================================== */

#about {
    background: white;
    padding-top: 120px;
    padding-bottom: 0;
    width: 100%;
}

#about .about-content {
    max-width: 934px;
}

#about h3 {
    font: 16px/36px "raleway-semibold", sans-serif;
    text-transform: none;
    padding: 0;
    margin-bottom: 0;
}

#about p {
    color: #252525;
    font: "raleway-medium", sans-serif;
}

#about .left {
    padding-right: 30px;
}

#about .right {
    padding-left: 30px;
}


/* Team Section
/* -------------------------------------------------------------------- */

#about #team {
    background: #ecf0f1;
    margin-top: 66px;
    padding-top: 78px;
    padding-bottom: 120px;
}

#team-wrapper {
    margin: 0px -18px 0 -18px;
}

#team-wrapper .bgrid {
    padding: 0 18px;
}

#team-wrapper .member {
    margin-top: 18px;
    margin-bottom: 36px;
}

#team-wrapper .member-header {
    position: relative;
    margin-bottom: 15px;
}

#team-wrapper .member-pic {
    width: 78px;
    height: 100px;
    display: inline-block;
    position: relative;
    top: 12px;
}

#team-wrapper .member-pic img {
    border-radius: 100%;
}

#team-wrapper .member-name {
    display: inline-block;
    padding-top: 19px;
    margin-left: 12px;
}

#team-wrapper .member-name h3 {
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 6px;
}

#team-wrapper .member-name span {
    position: relative;
    top: -6px;
    font-size: 13px;
    line-height: 18px;
    color: gray;
    display: block;
}

#team-wrapper .member-social {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 12px 0 0 0;
    padding: 0;
}

#team-wrapper .member-social li {
    display: inline-block;
    margin-right: 15px;
}

#team-wrapper .member-social li a {
    color: #252525;
}

#team-wrapper .member-social li a:hover {
    color: rgb(134, 38, 155);
}


/* 
/*  Awards Section
/* =================================================================== */

#awards {
    background: #ecf0f1;
    padding-top: 120px;
    padding-bottom: 52px;
    overflow: hidden;
    width: 100%;
}

.awards-container .row {
    -webkit-transition: height .5s ease-out;
    transition: height .5s ease-out;
}

@media(max-width:767px) {
    .award-item {
        float: none;
        margin: 0 auto;
    }
}

.award-item {
    position: relative;
    margin-bottom: 30px;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.award-item.filtered {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.2;
    cursor: default;
}

.no-opacity .award-item.filtered {
    display: none;
}

.award-item.filtered a {
    cursor: default;
}

.award-item.filtered .overlay-mask,
.award-item.filtered .award-title {
    display: none;
}

.award-thumb {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    width: 225px;
    height: 175px;
    vertical-align: middle;
    background: #fff;
    overflow: hidden;
    position: relative;
}


/*.award-thumb img {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
       top: 40%;
        bottom: 60%;
        margin: auto;
    }*/

.award-thumb .overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.award-thumb:hover .overlay-mask {
    opacity: 0.6;
    filter: alpha(opacity=80);
}

.award-thumb .award-title {
    display: block;
    width: 100%;
    height: 28%;
    position: absolute;
    bottom: 0px;
    background: rgb(255, 245, 255);
    margin: 0;
    padding: 10px 0;
    color: #777;
    text-align: center;
    z-index: 2;
    -webkit-transition: bottom .4s ease-out, color .2s ease-out;
    transition: bottom .4s ease-out, color .2s ease-out;
}

.award-thumb .award-title h3 {
    font-family: "raleway", sans-serif;
    color: #222222;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

.award-thumb .award-title p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}


/*Filter Buttons*/

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.categories ul li {
    display: inline-block;
    padding: 0;
    line-height: 24px;
    background: transparent;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}

.categories ul li a {
    font-size: 12px;
    display: block;
    color: #222222;
    border-radius: 3px;
    font-family: "raleway", sans-serif;
    background: #f7f7f7;
    padding: 10px 20px;
    border: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.categories ul li a,
.categories ul li a:active,
.categories ul li a:hover {
    line-height: 20px;
    background: #fff;
    color: #222222;
    text-decoration: none;
}

.categories ul li a:hover,
.categories ul li.active a {
    color: #fff;
    background: rgb(134, 38, 155);
}


/* 
/*  Contact Section
/* =================================================================== */

#contact {
    background: #D1AFD3;
    padding-top: 120px;
    padding-bottom: 102px;
    overflow: hidden;
    width: 100%;
    min-height: 550px;
}


/* 
/*  Footer
/* =================================================================== */

footer {
    position: absolute;
    background-color: #D1AFD3;
    width: 100%;
    min-height: 100px;
    background-image: url(../images/footerBack.png);
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}


/*
/*Scroll to Top
/*=============================== */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: black;
    color: whitesmoke;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 20px;
    bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    color: #D1AFD3;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}


/*
/*--Project Pop-ups!--*/

#modal-wrapper {
    text-align: center;
    margin: 0 auto;
}

#modal-wrapper .modal-content {
    border-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 80%;
    overflow: auto;
}

#modal-wrapper .modal-title {
    font-size: 34px;
    font-weight: bold;
}

@media (min-width: 992px) {
    #modal-wrapper .modal-header,
    #modal-wrapper .modal-body {
        width: 900px;
    }
}

@media (min-width: 768px) {
    #modal-wrapper .modal-header,
    #modal-wrapper .modal-body {
        width: 600px;
    }
}

.modal-body {
    font-family: "raleway-medium";
}