/* 
/*  Puremedia v1.0 Media Queries
/*  url:styleshout.com
/*
/* =================================================================== */


/* small screens */

@media only screen and (max-width:900px) {
    /* content styles */
    #content #sidebar {
        padding-left: 0;
    }
    /* projects section */
    #projects .row.items {
        max-width: none;
        width: 100%;
        padding: 0;
    }
    #projects .row.items .twelve.columns {
        padding: 0;
    }
    /* about section */
    #team-wrapper .member-pic {
        width: 66px;
        height: 66px;
    }
    /*contact icons*/
    .fa-5x {
        font-size: 3.3em;
    }
}


/* 900 */


/* tablets */

@media only screen and (max-width:768px) {
    /* content styles */
    #content {
        padding-top: 54px;
    }
    #content #sidebar {
        margin-top: 42px;
        padding-left: 0;
    }
    /* common and shared styles */
    .section-head p {
        width: 100%;
    }
    #page-title h1 {
        font: 46px/1.3 "raleway-bold", sans-serif;
        width: 100%;
    }
    #page-title p {
        font: 15px/30px "raleway-light", sans-serif;
        width: 100%;
    }
    .entry header {
        text-align: center;
    }
    .entry .entry-meta ul {
        text-align: center;
        margin-top: 6px;
    }
    .pagenav a[rel="next"]:after {
        float: right;
    }
    /* about section */
    #about .about-content {
        padding: 0 30px;
    }
    #about .left {
        padding-right: 15px;
    }
    #about .right {
        padding-left: 15px;
    }
    .navbar-custom .navbar-brand {
        font-size: 18px;
        font-family: "raleway-regular", sans-serif;
        font-weight: initial;
        color: whitesmoke;
        padding-top: 25px;
    }
    /*contacts icons*/
    .fa-5x {
        font-size: 3.2em;
    }
}


/*nav edits*/


/* 995 */

@media (min-width: 995px) {
    .navbar-custom {
        font-family: "raleway-regular", sans-serif;
        font-weight: initial;
        color: whitesmoke;
        padding: 0px 0ox;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        font-family: "raleway-regular", sans-serif;
        font-weight: initial;
        color: whitesmoke;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}


/**early collapse**/

@media (max-width: 995px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}


/* mobiles */

@media only screen and (max-width:600px) {
    /* content styles */
    #content {
        padding-top: 48px;
    }
    /* common and shared styles */
    .section-head p {
        font: 16px/33px "raleway-light", sans-serif;
    }
    .entry header h1 {
        font: 26px/33px "raleway-bold", sans-serif;
    }
    /* about section */
    #about h3 {
        text-align: center;
    }
    #about .left {
        padding-right: 10px;
    }
    #about .right {
        padding-left: 10px;
    }
    #team-wrapper .member {
        text-align: center;
    }
    #team-wrapper .member-pic {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -39px;
    }
    #team-wrapper .member-name {
        margin-left: 85px;
    }
    #team-wrapper .member-name h3,
    #team-wrapper .member-name span {
        text-align: left;
    }
    /*contact icons*/
    .fa-5x {
        font-size: 3.0em;
    }
    .award-thumb {
        width: 200px;
        height: 175px;
    }
}


/* 480 */


/* small small mobiles */

@media only screen and (max-width:480px) {
    /* about section */
    #team-wrapper .member-pic {
        width: 60px;
        height: 60px;
        margin-top: -30px;
    }
    #team-wrapper .member-name {
        margin-left: 60px;
    }
    #team-wrapper .member-name h3 {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 12px;
    }
    /*contac icons*/
    .fa-5x {
        font-size: 2.9em;
    }
    .award-thumb .award-title h3 {
        font-size: 10px;
        line-height: 10px;
    }
    .award-thumb .award-title p {
        font-size: 8px;
        line-height: 8px;
    }
    .award-thumb {
        width: 150px;
        height: 125px;
    }
}


/* 420 */

@media only screen and (max-width:420px) {
    /* page-title */
    #page-title h1 {
        font: 38px/1.3 "raleway-bold", sans-serif;
    }
    /* projects section */
    .item .item-wrap .projects-item-meta {
        margin-right: 15px;
    }
    .item .item-wrap .projects-item-meta h5 {
        font: 13px/18px "raleway-heavy", sans-serif;
    }
    .item .item-wrap .projects-item-meta p {
        font: 12px/18px "raleway-semibold", sans-serif;
    }
    .award-thumb .award-title h3 {
        font-size: 8px;
        line-height: 8px;
    }
    .award-thumb .award-title p {
        font-size: 7px;
        line-height: 7px;
    }
}


/* 400 */

@media only screen and (max-width:400px) {
    /* about section */
    #about .about-content {
        padding: 0 30px;
    }
    #about .left {
        padding: 0;
    }
    #about .right {
        padding: 0;
    }
}

@media only screen and (max-width:385px) {
    .award-thumb .award-title h3 {
        font-size: 7px;
        line-height: 7px;
    }
    .award-thumb .award-title p {
        font-size: 6px;
        line-height: 6px;
    }
    .award-thumb {
        width: 95px;
        height: 100px;
    }
}